In [1]:
numbers = [1,2,3,4,5]

squared_numbers = [ number**2  for number in numbers ]

print(squared_numbers)

[1, 4, 9, 16, 25]

In [3]:
names = ["Ravi", "Veer", "Sanju", "Sangharsh"]

name_lowercase = [ name.lower() for name in names ]

print(name_lowercase)

['ravi', 'veer', 'sanju', 'sangharsh']

In [64]:
ages = [12, 15, 10, 18, 24]

new_ages = [age for age in ages if age > 18]

print(new_ages)

[24]

In [3]:
words = ["abhay", "varun", "ritesh", "ravi", "mohit"]

word_vowel = [word for word in words if word.startswith(("a", "e", "i", "o", "u"))]

print(word_vowel)

['abhay']

In [5]:
celsius = [29.5, 36, 40]

fahrenheit = [(temp * 9/5) + 32 for temp in celsius]

print(fahrenheit)

[85.1, 96.8, 104.0]

In [21]:
sentences = ["The cat sat on the mat", "She drinks tea in the morning", "What is your name?", "Have you finished your homework?"]

first_word = [ sentence.split()[0] for sentence in sentences ]

print(first_word)

['The', 'She', 'What', 'Have']

In [23]:
usernames = ["Gaurav", "Pranit", "Amaal", "Tanya", "Farhana", "Ashnoor"]

new_list = [ username for username in usernames if len(username)> 6]

print(new_list)

['Farhana', 'Ashnoor']

In [49]:
names = [("Gaurav", "Khanna"), ("Pranit", "More")]

full_names = [f"{first} {last}" for first, last in names]

print(full_names)

['Gaurav Khanna', 'Pranit More']

In [55]:
product_price = [ 100, 200, 300, 400, 500 ]

discounted_price = [ price - (price * (20/100)) for price in product_price ]

print (discounted_price)

[80.0, 160.0, 240.0, 320.0, 400.0]

In [63]:
numbers = [2, 6, 3, 4, 5 ]

new_numbers = [ number*3 for number in numbers if number%2!=0 ]

print(new_numbers)

[9, 15]